html, body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #333;
    scroll-snap-type: y mandatory;
    overflow-x: hidden; /* Prevent horizontal overflow */
    overflow-y: scroll;
    height: 100%;
}


section {
    scroll-snap-align: start; /* Each section will align to the start of the viewport */
    width: 100%; /* Ensures sections stretch across the full width */
    min-height: 100vh; /* Each section takes at least the height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center; /* Centers content within each section */
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #ffffff; */
    z-index: 1000;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* Logo Styling */
.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #1DA1F2;
    margin: 0;
}

/* Sticky Header Adjustment */
body {
    padding-top: 80px; /* Ensure content is not hidden behind the fixed header */
}

header h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: #1DA1F2; /* Brand color for app name */
}

/* Hero Section Styling */
.hero {
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.hero-container {
    display: flex; /* Flexbox for split layout */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Max width for container */
}

/* Left Side - Text Content */
.hero-text {
    flex: 1; /* Take up half the space */
    padding-right: 2rem; /* Add space between text and image */
    text-align: left; /* Align text to the left */
}

.hero-text h2 {
    font-size: 3rem;
    color: #343a40;
    margin-bottom: 1rem;
    font-weight: 700;
}

.hero-text p {
    font-size: 1.5rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
}

/* Right Side - Hero Image */
.hero-image {
    flex: 1; /* Take up the other half of the space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
     max-width: 55%; /* Ensure the image doesn't exceed its container */
    height: auto;
    border-radius: 15px; /* Slightly round the corners of the image */
}

/* Subscription Form Styling */
.subscription-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

#email-input {
    width: 70%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 50px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s;
}

#email-input:focus {
    border-color: #1DA1F2;
}

.subscribe-button {
    background: #1DA1F2;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 1rem;
}

/* App Buttons Styling */
.app-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app-buttons a {
    margin-right: 1rem;
}

.app-buttons img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.app-buttons img:hover {
    transform: scale(1.05);
}


.content {
    max-width: 600px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for contrast */
    border-radius: 15px; /* Softer rounded corners for a modern look */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h2 {
    font-size: 3rem;
    color: #343a40; /* Darker gray for the header */
    margin-bottom: 1rem;
    font-weight: 700;
}

p {
    font-size: 1.5rem;
    color: #6c757d; /* Softer gray for paragraph */
    margin-bottom: 1.5rem;
}


/* Launch Info Styling */
.launch-info {
    font-size: 1.4rem;
    color: #495057; /* Softer grey for contrast */
    margin-top: 1.5rem;
    font-weight: 600; /* Make it more prominent */
}
.btn {
    background-color: #1DA1F2;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
}
/* Tasks Section Styling */
.tasks-section {
    padding: 3rem 2rem; /* Padding around the entire section */
    background-color: #f4f4f4; /* Light background for contrast */
    text-align: center; /* Center the content */
}

/* Grid Layout for Tasks */
.tasks {
    display: flex;
    /*grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    justify-items: center; /* Center items horizontally */
    /*align-items: start; /* Align items to the top */
    flex-direction: row;
    padding: 0.5rem;
    max-width: 100%; /* Ensure container doesn’t exceed 100% of the viewport */
    box-sizing: border-box; 
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.task img {
    width: 180px;
    object-fit: cover;
    /*max-width: 250px; /* Control the size of the images */
    height: 300px;
    margin-bottom: 1rem; /* Space between image and text */
    border-radius: 8px; /* Round the image corners slightly */
}

.task-info p {
    font-size: 1.2rem;
    max-width: 180px;
    color: #333; /* Consistent text color */
    margin: 0;
}

/* Header Styling Below Tasks */
.task-header h2 {
    font-size: 2.5rem;
    color: #1DA1F2; /* Accent color for brand consistency */
    margin-top: 2rem;
}

.app-instructions {
    background-color: #f4f4f4;
    padding: 4rem 0;
    text-align: center;
}

.app-instructions .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.app-instructions h2 {
    font-size: 2.5rem;
    color: #023047;
    margin-bottom: 2rem;
}

.instruction {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.instruction img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instruction p {
    font-size: 1.25rem;
    color: #495057;
    max-width: 600px;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
    color: #343a40; /* Darker gray for the header */
    margin-bottom: 1rem;
    font-weight: 700;
}

.steps-text {
    display: flex;
    flex-direction: column;
}

/* FAQ Section Styling */
.faq-section {
    background-color: #f4f4f4;
    padding: 4rem 0;
    text-align: center;
}

.faq-section h2 {
    font-size: 2.5rem;
    color: #023047;
    margin-bottom: 2rem;
}

.faq-item {
    margin-bottom: 2rem;
    text-align: left;
    max-width: 800px;
    margin: 0 auto 2rem auto; /* Center the items */
}

.faq-item h3 {
    font-size: 1.75rem;
    color: #343a40;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.faq-item p {
    font-size: 1.25rem;
    color: #495057;
    line-height: 1.6;
    margin: 0;
}


footer {
    background-color: #ffffff;
    color: #666;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.875rem;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .tasks {
        grid-template-columns: 1fr; /* Switch to single column on smaller screens */
    }

    .task img {
        max-width: 100%; /* Ensure images are fully responsive */
    }
    .hero {
        padding: 1rem;
    }

    .content {
        padding: 1rem 2rem;
    }
    .navbar ul {
        display: none; /* Hide navigation on smaller screens */
    }

    .navbar ul.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }

    .navbar ul li {
        margin: 1rem 0;
    }
    .faq-item h3 {
        font-size: 1.5rem;
    }

    .faq-item p {
        font-size: 1.1rem;
    }
}
